@media screen and (prefers-color-scheme: dark) {
  * {
    --blue: #136cbf;
    --black: #1a1a1a;
    --white: #efefef;
  }

  dialog {
    border: 1px solid rgba(white, 0.25) !important;
  }

  button {
    background-color: gray;
    border: 3px solid gray;
    color: white;

    &:hover {
      background-color: var(--black);
      color: white;

      &.main {
        background-color: var(--black);
        color: white;
      }

      &.destructive {
        background-color: var(--black);
        color: white;
      }
    }
  }

  body {
    #app {
      background-color: var(--black);
      color: var(--white);

      header {
        background-color: var(--black);
        color: var(--white);
      }

      a {
        color: var(--white);
      }

      .dark-invert {
        filter: invert(1);
      }

      input {
        background-color: var(--black);
        color: var(--white);
        border: 1px solid var(--white);
      }

      #connection-dialog form {
        input {
          background-color: var(--black);
          color: white;
          border-radius: 10px;
          border: 1px solid rgba(white, 0.25) !important;
        }
      }

      .classement-element {
        box-shadow: none;
        border: 1px solid rgba(white, 0.25);
      }
    }
  }
}
