@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import "font.scss";
@import "responsive.scss";

body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  /* main padding-top (floating header) + footer height + main padding + footer margin-top */
  --height-screen-diff: calc(125px + 65px + 35px + 15px);
  --black: #161715;
  --white: #FFFFFF;
  --gray: #7f7f7f;
  --yellow: #FEC000;
  --blue: #0C345A;
  --red: #E33821;
  --light-green: #A9EC89;
  --dark-green: #386641;
  --pink-divtec: #ce0064;

  --accent: #36b34f;
}

#app {
  margin: 0;
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 35px;
  width: 100%;
  min-height: calc(100vh - var(--height-screen-diff));
  max-width: 1000px;
  margin: auto;
  &.display {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content {
    min-width: 100%;
  }
}

h1, h2, h3 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

h1 {
  margin: 10px 0;
  font-size: 42px;
}

h2 {
  font-size: 32px;
  margin: 10px 0 12px 0;
}

p, a {
  font-size: 18px;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-error {
  height: calc(100vh - var(--height-screen-diff));
  display: flex;
  justify-content: center;
  align-items: center;

  div.error-no-co {
    width: fit-content !important;
  }
}


div.error {
  color: var(--red);
}

div.loading, div.error, div.error-no-car {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  width: 200px;
}

div.loading {
  left: calc(50% - 20px);
}


.roller {
  display: flex;
  flex-direction: row;

  .roller-item {
    padding: 0;
    height: 1.4em;

    .roller-item__wrapper__list__item{
      padding: 0;
      transform: translateY(.2em);
      height: 1.4em !important;
    }
  }
}
