@media screen and (max-width: 320px) {
  #app {
    button:not(:disabled):hover {
      font-weight: normal;
    }
  }
}

/* Téléphone */
@media screen and (max-width: 400px) {
  #app {
    .large {
      display: none;
    }

    footer {
      p {
        width: fit-content;
        font-size: 15px;
      }
    }

    .table-list-time tr {
      th,
      td {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 0px) {
  #app {
    .table-list-time tr {
      th,
      td {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
}

@media screen and (min-width: 340px) {
  #app {
    .table-list-time tr {
      th,
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  #app {
    .table-list-time tr {
      th,
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (min-width: 475px) {
  #app {
    div.badges {
      :nth-child(3) {
        margin-top: 0;
      }

      width: 420px;
    }
  }
}

@media screen and (max-width: 500px) {
  #app {

    div.button-classement {
      margin: -50px auto 0 auto;
    }

    div.icon {
       border-width: 1px !important;
     }
  }
}

/* Encran plus petit que 700px*/
@media screen and (max-width: 740px) {
  #app {
    main.display {
      padding: 125px 15px 15px 15px !important;
    }

    div.classement {
      width: 100%;
    }

    div.button-classement {
      width: 100%;
    }

    li#stage {
      width: 130px;
    }


    nav ul.header {
      display: flex;
      flex-direction: column;
      li:nth-last-child(1) {
        align-self: end;
        justify-self: end;

      }
    }

    button.logout-button {
      background-color: var(--gray);
      border-radius: 100px;
      padding: 7px 14px;
      border: 2px solid var(--gray);
      transition: all 0.2ms ease-in-out;

      span {
        font-family: 'SF Pro Display', sans-serif;
        font-weight: bold;
        font-style: normal;
        color: var(--white);
      };

      span {
        display: block;
      }

      img:nth-child(2) {
        display: none;
      }

      img:nth-child(3) {
        display: block;
        margin-left: 5px;

      }
    }


  }
};

/* Tablette */
@media screen and (min-width: 740px) {
  #app {

    .table-list-time tr {
      th,
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    header.open, header.closed {
      display: none;
    }

    .table-large-content {
      width: 40%;
      display: block;
    }

    .drop-down-course {
      display: none;
    }

    .thin {
      display: none;
    }

    .large {
      display: block;
    }

    header.large {
      display: flex;
      flex-direction: row;
      align-items: center;

      ul li.accueil {
        display: none;
      }

      nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;

          li {
            font-family: 'SF Pro Display', sans-serif;
            display: inline-block;
            font-weight: bold;
            font-style: normal;
            margin: 0 5px;

            * {
              font-size: 24px;
            }
          }
        }
      }
    }


    div div.best-race {
      width: 100%;
      margin: 20px auto 0 auto;
      justify-content: center;
      flex-wrap: wrap;
      height: 300px;
      align-items: center;

      div.content-1 {
        justify-content: space-between;
        width: 32%;
      }

      div.content-2 {
        width: 32%;
      }


      div.informations {
        width: 32%;
        margin-bottom: 0;
      }

      div.video {
        width: 40%;
        height: 235px;
        margin: 0;
      }
    }

    div.content-list-classement {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-top: 35px;

      div.table-large-content {
        display: flex;
        flex-direction: column;

        table {
          align-self: center;
        }
      }



      div.content-classement {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
      }
    }

    div.badges {
      display: flex;
      flex-direction: row;
      width: 470px;
      flex-wrap: wrap;
      margin: 50px auto 0 auto;
      align-self: start;

      * {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
      }

      :nth-child(3) {
        margin-top: 0 !important;
      }

      :nth-child(4),
      :nth-child(5),
      :nth-child(6) {
        margin-top: 25px;
      }
    }

    footer div.stage {
      display: block;
    }
  }
}

/* Format pour la page de modif*/
@media screen and (max-width: 960px) {

  #app {

    .avatar-and-pseudo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content-avatar {
      display: flex;
      justify-content: center;
    }
    fieldset.color {
      justify-content: center !important;
      flex-wrap: wrap;
    }

    .rd-property {
      justify-content: center !important;
      flex-wrap: wrap;
      align-content: center;

      align-items: center;

      .rdbt-choice {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    div.msg-success {
      width: 250px;
      height: 250px;
      margin-top: 70px;
    }
  }
}

/* Tablette grande */
@media screen and (min-width: 1024px) {

  p, a {
    font-size: 16px;
  }

  #app {

    .table-list-time tr {
      th,
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    header.large nav ul li {
      margin: 0 10px !important;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 25px;
    }


    div.user-data {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      height: 650px;
      width: 100%;
      margin-top: 10px;
    }

    div.avatar-txt {
      margin-left: 10px;
    }

    h2 {
      width: 470px;
      align-self: start;
      margin-right: 10px;
      margin-top: 15px;
    }

    img#car {
      margin-top: 25px;
    }

    p.intro-badge {
      width: 470px;
      align-self: start;
      margin-right: 10px;
    }

    div.badges {
      display: flex;
      flex-direction: row;
      width: 470px;
      flex-wrap: wrap;
      margin-top: 15px;
      align-self: start;
      margin-right: 10px;

      * {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
      }

      :nth-child(3) {
        margin-top: 0;
      }

      :nth-child(4),
      :nth-child(5),
      :nth-child(6) {
        margin-top: 25px;
      }
    }


  }
}

/* Petit ordinateur */
@media screen and (min-width: 1280px) {


}


/* Grand ordinateur */
@media screen and (max-width: 1440px) {

}