@media screen and (max-width: 320px) {
  #app {
    button:not(:disabled):hover {
      font-weight: normal;
    }
  }
}

/* Téléphone */
@media screen and (max-width: 400px) {
  #app {
    .large {
      display: none;
    }

    footer {
      display: flex;
      flex-direction: row;

      p {
        width: fit-content;
        font-size: 15px;
      }
    }

    .table-list-time tr {
      th,
      td {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  main {
    &.display {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 0px) {
  #app {
    .table-list-time tr {
      th,
      td {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
}

@media screen and (min-width: 340px) {
  #app {
    .table-list-time tr {
      th,
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  #app {
    .table-list-time tr {
      th,
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (min-width: 475px) {
  #app {
    div.badges {
      :nth-child(3) {
        margin-top: 0;
      }

      width: 420px;
    }
  }
}

@media screen and (max-width: 500px) {
  #app {
    div.icon {
      border-width: 1px !important;
    }
  }
}

/* Ecran plus petit que 700px*/
@media screen and (max-width: 740px) {
  #app {
    main.display {
      padding: 125px 15px 15px 15px !important;
    }

    div.classement {
      width: 100%;
    }

    div.button-classement {
      width: 100%;
    }

    li#stage {
      width: 100%;
    }


    nav.header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      ul {
        display: flex;

        &.links {
          flex-direction: column;
        }

        &.buttons {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          li {
            margin: .25em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #app {
    ul.buttons {
      li {
        width: 100%;
        display: flex;
        justify-content: end;

        button.logout-button {
          background-color: var(--gray);
          border-radius: 100px;
          padding: 6px 15px;
          border: 2px solid var(--gray);
          transition: all 0.2ms ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-left: 10px;
            width: 24px;
            height: 24px;
          }

          span {
            font-family: 'SF Pro Display', sans-serif;
            font-weight: bold;
            font-style: normal;
            color: var(--white);
          }

          span {
            display: block;
          }

          img:nth-child(2) {
            display: none;
          }

          img:nth-child(3) {
            display: block;
            margin-left: 5px;
          }
        }
      }
    }

    div.best-race {
      margin-top: 20px;
      height: auto;
      flex-direction: column;
    }

    div.race-content {
      margin-right: 0;
    }

    div.video-race {
      margin-top: 25px;
      margin-left: 0;
    }
  }

  .table-large-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}

/* Tablette */
@media screen and (min-width: 800px) {
  #app {

    .table-list-time tr {
      th,
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    header.open, header.closed {
      display: none;
    }

    .table-large-content {
      width: 40%;
      display: block;
    }

    .drop-down-course {
      display: none;
    }

    .thin {
      display: none;
    }

    .large {
      display: block;
    }

    header.large {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      ul li.accueil {
        display: none;
      }

      nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: start;

          &.links {
            li {
              box-shadow: none;
              padding: 0 2px;
            }

            img {
              display: none;
            }
          }

          li#stage img {
            display: block;
          }

          li {
            font-family: 'SF Pro Display', sans-serif;
            display: inline-block;
            font-weight: bold;
            font-style: normal;
            margin: 0 5px;

            * {
              font-size: 24px;
            }
          }

          li#stage {
            width: fit-content;
          }
        }
      }
    }


    div div.best-race {
      width: 100%;
      margin: 20px auto 0 auto;
      justify-content: center;
      flex-wrap: wrap;
      height: 300px;
      align-items: center;


      div.content-1 {
        justify-content: space-between;
      }

      div.video {
        margin: 0;
      }
    }

    div.content-list-classement {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-top: 35px;

      div.table-large-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 25px;
      }

      div.content-classement {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
      }
    }

    div.badges {
      display: flex;
      flex-direction: row;
      width: 470px;
      flex-wrap: wrap;
      margin: 50px auto 0 auto;
      align-self: start;

      * {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
      }

      :nth-child(3) {
        margin-top: 0 !important;
      }

      :nth-child(4),
      :nth-child(5),
      :nth-child(6) {
        margin-top: 25px;
      }
    }

    footer div.stage {
      display: block;
    }

    div.table table td.video {
      padding: 5px;

      img {
        width: 22px;
        margin: 0;
      }
    }
  }
}

/* Format pour la page de modif*/
@media screen and (max-width: 960px) {

  #app {

    .avatar-and-pseudo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content-avatar {
      display: flex;
      justify-content: center;
    }

    fieldset.color {
      justify-content: center !important;
      flex-wrap: wrap;
    }

    .rd-property {
      justify-content: center !important;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;

      .rdbt-choice {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    div.msg-success {
      width: 250px;
      height: 250px;
      margin-top: 70px;
    }

    .user-content.big {
      display: none;
      background-color: red;
    }

    .user-content.phone {
      display: flex;
    }
  }
}

@media screen and (min-width: 860px) {
  #app {

    //MARK: - Page home
    div.home-root {
      ul.stats {
        grid-template-columns: 420px 420px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #app {
    div.video {
      max-width: 372px !important;
    }
  }
}

/* Tablette grande */
@media screen and (min-width: 1024px) {

  p, a {
    font-size: 16px;
  }

  #app {

    .table-list-time tr {
      th,
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    header.large nav ul li {
      margin: 0 10px !important;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 25px;
    }


    div.user-data {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      height: 650px;
      width: 100%;
      margin-top: 10px;
    }

    div.home-root {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 40px;

      ul.stats {
        grid-template-columns: 420px;
      }
    }

    div.avatar-txt {
      margin-left: 10px;
    }

    h2 {
      margin-right: 10px;
      margin-top: 15px;
    }

    img#car {
      margin-top: 25px;
    }

    p.intro-badge {
      width: 470px;
      align-self: start;
      margin-right: 10px;
    }

    div.badges {
      display: flex;
      flex-direction: row;
      width: 470px;
      flex-wrap: wrap;
      margin-top: 15px;
      align-self: start;
      margin-right: 10px;

      * {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
      }

      :nth-child(3) {
        margin-top: 0;
      }

      :nth-child(4),
      :nth-child(5),
      :nth-child(6) {
        margin-top: 25px;
      }
    }

  }
}

/* Petit ordinateur */
@media screen and (min-width: 1280px) {
  #app div.home-root {
    width: 1280px;
    grid-template-columns: auto 50%;
    grid-gap: 0;

    ul.stats {
      grid-template-columns: 43% 57%;
      width: 100%;
    }
  }
}


/* Grand ordinateur */
@media screen and (max-width: 1440px) {

}
